[Desktop Entry]
Encoding=UTF-8
Name=Link to Learn PHP in 15 minutes - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ZdP0KM49IVk
Icon=text-html
