[Desktop Entry]
Encoding=UTF-8
Name=Link to The world’s leading software development platform · GitHub
Type=Link
URL=https://github.com/
Icon=text-html
