[Desktop Entry]
Encoding=UTF-8
Name=Link to 7: Different Data Types in PHP | PHP Tutorial | Learn PHP Programming | PHP for Beginners - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ZPM8M9jzjjc&feature=youtu.be
Icon=text-html
