[Desktop Entry]
Encoding=UTF-8
Name=Link to How to create a login system in PHP (UPDATED VERSION IN THE DESC!) - Learn PHP backend programming - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=xb8aad4MRx8
Icon=text-html
